 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre nosotros</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row about">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>CodeLab es una asociación nacida en la Universidad de Zaragoza por estudiantes de informática</p>
                    <p>Puedes ver nuestra jerarquía haciendo click <a href="/members">aquí</a></p>
                </div>
                <div class="col-lg-4">
                    <p>Nuestro objetivo es el fomento de las Tecnologías de la Información mediante la realización de actividades, como charlas, talleres o hackathones.</p>
                </div>
            </div>
        </div>
    </section>
