<section class="success" id="member_explanation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>¿Cómo nos organizamos?</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row about">
            <div class="col-md-offset-2 col-md-8">
                En CodeLab funcionamos de manera asamblearia, donde las decisiones más importantes se toman entre todos. Todos los Socios toman decisiones desde que entran a CodeLab.<br /><br />
                
                Estatuariamente, la Asociación está dirigida por la Junta Directiva aquí expuesta y gobernada por la Asamblea de Socios, que es el máximo órgano de CodeLab.<br /><br />

                Tanto la Junta Directiva como algunos Socios tienen asociados algunas Tareas y Responsabilidades extras.
            </div>
        </div>
    </div>
</section>

 <section id="members">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Junta Directiva</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row about">
            <div class="col-md-offset-2 col-md-8">
                <ul>
                    <li><b>Ángel David Cañal Muniesa</b>: Presidente y Responsable de Organización y Relaciones Institucionales y con la Empresa</li>
                    <li><b>Alejandro Gómez González</b>: Vicepresidente y Responsable de Tesorería, Imagen y Redes Sociales</li>
                    <li><b>Roberto Carlos Claver Ubiergo</b>: Secretario y Responsable de Comunicación</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 15px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Delegados</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row about">
            <div class="col-md-offset-2 col-md-8">
                <ul>
                    <li><b>David López Maturen</b>: Responsable de Prensa</li>
                </ul>
            </div>
        </div>
    </div>
</section>
